@CHARSET "UTF-8";


#right_tab .tab_title {
    border: solid 1px yellow;
    float: left;
    width: 24%;
    height: 100px;
}
.tab_highlight {
    background-color: #70A070;
}
table{
	border-collapse : collapse;
}
td,th{
	padding: 5px;
}

#main_content {
	clear: both;
	
	border: solid 1px yellow;
}

#paging {
    padding-top: 10px;
}
#paging div {
    float: left;
    padding-left: 10px;
}
.page_highlight {
    background-color: #70A070;
}



