@CHARSET "UTF-8";

#container_all{
	margin: 0px auto;
	max-width: 1440px;
	min-width: 800px;
	overflow:hidden;
}
#menubar{
	width: 20%;
	float: left;
}

.sub_title {
	font-size: 20px;
}
#right_div{
	float: left;
	width: 80%;
}
.info_msg {
    margin: 30px 0px;
	border: solid 2px green;
}
.warn_msg {
    margin: 30px 0px;
	border: solid 2px yellow;
}
.error_msg {
    margin: 30px 0px;
	border: solid 2px red;
}
.large_text {
	font-size: 30px;
}
.clear_all {
	clear: both;
}
table {
	border-collapse: collapse;
}
.pages_div {
	width: 100%;
	overflow: scroll;
}
.pages_div a {
	/*float: left;*/
	padding: 3px;
	white-space: nowrap;
}

/********************STYLES INSIDE THE PAGE*******************/

#right_tab {
    border-bottom: 2px solid #000080;
    margin-bottom: 20px;
}

.tab_highlight {
    background-color: #70A070;
}
table{
	border-collapse : collapse;
}
td,th{
	padding: 5px;
}

#main_content {
	clear: both;
	
}

#paging {
    padding-top: 10px;
}
#paging div {
    float: left;
    padding-left: 10px;
}
.page_highlight {
    background-color: #70A070;
}

.form_req {
    color: red;
}


