#container_all{
	margin: 0px auto;
	max-width: 1440px;
	min-width: 800px;
	overflow:hidden;
}
#menubar{
	width: 20%;
	float: left;
}
#all_title{
	height: 100px;
	
}
#all_title a{
	line-height: 100px;
	font-size: 50px;
	margin-left: 20px;
}
.sub_title {
	font-size: 20px;
}
#right_div{
	float: left;
	width: 80%;
	
}
.info {
	background: green;
}
.alert {
	background: yellow;
}
.warn {
	background: red;
}
.large_text {
	font-size: 30px;
}
.clear_all {
	clear: both;
}
table {
	border-collapse: collapse;
}
.pages_div {
	width: 100%;
	overflow: scroll;
}
.pages_div a {
	/*float: left;*/
	padding: 3px;
	white-space: nowrap;
}
